---
http_interactions:
- request:
    method: get
    uri: http://www.recipepuppy.com/api?p=1&q=omelet
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript
    body:
      encoding: ASCII-8BIT
      string: '{"title":"Recipe Puppy","version":0.1,"href":"http:\/\/www.recipepuppy.com\/","results":[{"title":"Baked
        Omelet With Broccoli &amp; Tomato","href":"http:\/\/www.recipezaar.com\/Baked-Omelet-With-Broccoli-Tomato-325014","ingredients":"milk,
        cottage cheese, broccoli, cheddar cheese, basil, onion powder, eggs, garlic
        powder, roma tomato, salt","thumbnail":"http:\/\/img.recipepuppy.com\/123889.jpg"},{"title":"Mild
        Curry Omelet","href":"http:\/\/allrecipes.com\/Recipe\/Mild-Curry-Omelet\/Detail.aspx","ingredients":"coriander,
        cumin, eggs, garlic, green onion, vegetable oil, onions, red pepper, salt,
        turmeric","thumbnail":""},{"title":"Light Italian Feta Omelet","href":"http:\/\/www.recipezaar.com\/Light-Italian-Feta-Omelet-281901","ingredients":"egg
        substitute, feta cheese, basil, roma tomato, salt","thumbnail":"http[...]
[...]
